{
    "env": {
        "browser": true,
        "jest": true
    },
    "extends": ["airbnb", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "indent": ["error", 4],
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "react/jsx-uses-react": "off",
        "import/no-cycle": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/no-unknown-property": ["error", { "ignore": ["css"] }],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx", ".tsx"]
            }
        ],
        "arrow-body-style": "off"
    },
    "settings": { "import/resolver": { "node": { "moduleDirectory": ["node_modules", "src/", "test/"] } } }
}
