body {
  background-color: #f6f7f8;
}

.Rectangle {
  width: 100%;
  box-shadow: 1px 1px 3px 0 #00000017;
  background-color: #ffffff;
  padding: 20px;
}

.TitleLandingBox {
  width: 480px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}

.LandingBox {
  margin-top: 20px;
  max-height: 506px;
  border-radius: 4px;
  background-color: #ffffff;
  overflow-y: scroll;
}

/* #StatsTitle{
  scroll-margin-top: 40px;
  position: sticky;
  top: 0;
} */

.mb-xs {
  margin-bottom: 0.15rem;
}

.GreyStrip {
  width: 432px;
  height: 2px;
  background-color: #e2e2e2;
}

.ToolsHeader {
  width: 100%;
  height: 40px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.ButtonHolder {
  min-width: 800px;
  width: 100%;
  /* box-shadow: 1px 1px 3px 0 #00000017; */
  /* background-color: #f6f7f8; */
  /* padding: 20px; */
}

.searchHolder {
  text-decoration-line: none;
  /* cursor: 'pointer'; */
}

.SmallCard {
  width: 392px;
  min-height: 72px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.WhiteBackground {
  /* min-width: 1440px;*/
  min-height: 80px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.tagBadges {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 16px;
}

.BubbleCounts {
  width: 24px;
  height: 24px;
  background-color: #475da7;
  border-radius: 16px;
  display: inline-block;
  padding: 6px;
  text-align: center;
}

.iconHolder {
  text-align: right;
  padding-top: 5px;
}

.dateHolder {
  text-align: right;
  padding-right: 25px;
}

.reviewStarsGap {
  margin-left: 20px;
}

.reviewTitleGap {
  margin-left: 10px;
  margin-right: 10px;
}

.Dark-16px {
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #29235c;
}

.Dark-14px {
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #29235c;
}

.Black-16px {
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Black500-16px {
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Black-20px {
  font-family: museo-sans-rounded;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Gray800-14px {
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3b;
}

.Gray800-14px-Opacity {
  opacity: 0.7;
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3b;
}

.Gray800-14px-bold {
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3b;
}

.Gray700-16px {
  width: 88px;
  height: 19px;
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Gray700-13px {
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Gray100-14px {
  font-size: 14px;
  color: #f6f7f8;
}

.Gray500-13px {
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Purple-13px {
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #475da7;
}

.Purple-14px {
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #475da7;
}

.Indigo-14px{
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #29235c;
}

.White-12px{
  font-family: museo-sans-rounded;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.White-14px {
  font-family: museo-sans-rounded !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;
}

.searchBarBackground {
  width: 100%;
  background-color: #ffffff;
}

.signLink {
  text-align: right;
  margin-top: 28px;
  margin-right: 32px;
}

.signLinkLanding {
  text-align: right;
  margin-right: 32px;
}

.LandingBackground {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(110deg, #50b996, #485ea7 100%);
  padding-bottom: 50px;
}

.Pill {
  /* width: 104px; */
  height: 25px;
  border-radius: 16px;
}

.FilterCard {
  box-shadow: 1px 1px 3px 0 #00000017;
  background-color: #ffffff;
  padding: 10px;
  /* width: 280px; */
}

.AdFilters {
  box-shadow: 1px 1px 3px 0 #00000017;
  background-color: #ffffff;
  padding: 10px;
  max-height: 180px;
  overflow-y: scroll;
}

#TagItem {
  list-style-type: none;
}

#Logo {
  width: 152px;
}

#Picture {
  width: 24px;
  height: 24px;
}

#BigPicture {
  width: 56px;
  height: 56px;
}

#landingPageCard {
  font-family: museo-sans-rounded;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#landingPageEmptyRow {
  min-height: 120px;
}

.landingPageAccountText {
  color: #ffffff;
}

.landingPageAccountText:hover {
  color: #ffffff;
}

#projectTitleEmptyRow {
  min-height: 24px;
}

#searchInputHolder {
  min-height: 48px;
  /* width: 800px; */
  width: 100%;
  background-color: #f6f7f8;
  padding-top: 0px;
  padding-bottom: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f6f7f8 inset !important;
}

#searchIcon {
  width: 3%;
}

.SearchBarInput {
  border: 0;
  padding-left: 5px;
  background-color: #ffffff;
  display: block;
  height: 56px;
  border-radius: 4px;
}

@media (min-width: 992px) {
  .SearchBarInputGrey {
    border: 0;
    background-color: #f6f7f8;
    display: inline-block;
    border-radius: 4px;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .SearchBarInputGrey {
    border: 0;
    background-color: #f6f7f8;
    display: inline-block;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    width: 100%;
  }
}

#SearchInputSpan {
  display: inline-block;
  width: 75%;
  height: 40px;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #3c3c3b;
}

#SearchInputSpanGrey {
  display: inline-block;
  width: 70%;
  outline: none;
  border: 0;
  font-size: 16px;
  background-color: #f6f7f8;
  color: #3c3c3b;
  padding-top: 5px;
}

.SearchInputIconGrey {
  float: left;
  min-width: 40px;
  padding: 8px 0px 0px 10px;
}

.SearchInputClearGrey {
  float: right;
  padding: 5px 10px 0px 0px;
}

#SearchInputSpan:focus {
  outline: none;
}

#NavSearchInputSpan {
  display: inline-block;
  width: 97%;
  min-height: 48px;
  height: 100%;
}

#NavSearchInputSpan:focus {
  outline: none;
}

input[type='checkbox']:after {
  width: 24px;
  height: 24px;
  border: solid 2px #d6d6d6;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

input[type='checkbox']:checked:after {
  width: 24px;
  height: 24px;
  border: solid 2px #d6d6d6;
  background-color: #ffffff;
  position: relative;
  padding-left: 4px;
  padding-top: 1px;
  content: url(../images/wee-square.svg);
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

input[type='radio']:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

input[type='radio']:checked:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  padding-left: 3px;
  padding-top: 1px;
  position: relative;

  background-color: #ffffff;
  content: url(../images/radio.svg);

  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

.modal-body input[type='radio']:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

.modal-body input[type='radio']:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  padding-left: 4px;
  /* padding-top: -5px; */
  padding-bottom: 20px;
  position: relative;

  background-color: #ffffff;
  content: url(../images/radio.svg);
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

.TabsBackground {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.AddButton {
  width: 172px;
  height: 40px;
}

.SmallAddButton {
  width: 156px;
  height: 40px;
}

.CancelButton {
  width: 83px;
  height: 40px;
}

.GreyCancelButton {
  width: 83px;
  height: 40px;
  background-color: #eeeeee;
  /* background-color: black; */
}

.is-invalid ~ .invalid-feedback {
    display: block;
  }

textarea:focus {
  border: solid 2px #3db28c !important;
}

.form-group .AddFormInput {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 2px #d0d3d4;
  background-color: #ffffff;
}

.form-group .AddFormInput:focus {
  border-radius: 4px;
  border: solid 2px #3db28c;
}

.form-group .EmptyFormInput,
.form-group .EmptyFormInput:focus {
  border-radius: 4px;
  border: solid 2px #dc3645;
}

.SmallFormInput {
  width: 100%;
  max-width: 480px;
}

.hdfeedback {
  margin-top: .25rem;
  font-size: .875rem;
  color:#dc3545;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
    width: 100%;
}

.react-datepicker__input-container input {
  padding: 0.5rem 0.75rem;
  max-width: 480px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
  color:
  #53575a;
  background-color:
  #fff;
  background-image: none;
  background-clip: padding-box;
  border: 2px solid
  rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.react-datepicker__input-container input:focus {
  border: solid 2px #3db28c;
}

/* RBTS ARE THE STYLES FOR TYPEAHEAD INPUTS */
.rbt-input-multi {
  width: 100% !important;
  height: 40px !important;
  border-radius: 4px !important;
  border: solid 2px #d0d3d4 !important;
  background-color: #ffffff !important;
}

.rbt-input-multi.focus {
  border-color: #3db28c !important;
  box-shadow: none !important;
}

.rbt-input-multi.after.focus {
  border-color: #dc3645 !important;
  box-shadow: none !important;
}

.rbt-token {
  background-color: #f3f3f3 !important;
  color: #3c3c3b !important;
}

.DescriptionInput {
  height: 186px !important;
}

.ErrorMessages {
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #dc3645;
}

#ArchiveButton {
  background-color: #eeeeee;
  /* width: 85px; */
}

#AddReviewButton {
  width: 100%;
  background-color: #eeeeee;
}

.reviewReviewHolder {
  margin-top: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 20px 10px;
}

.AccountButtons {
  border: 2px solid #3db28c !important;
  border-radius: 4px !important;
}

.TechDetailButton {
  border: 2px solid #3db28c !important;
  border-radius: 4px !important;
  background-color: #ffffff;
}

.ClearButtons {
  border: none !important;
  border-radius: none !important;
}

.landingPageInformationNumber {
  font-family: museo-sans-rounded;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.landingPageInformationDetail {
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.accountDropDownGap {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .nav {
    padding-left: 2px;
    padding-right: 2px;
  }
  .nav a {
    display: block !important;
    width: 100%;
    margin: 0px;
  }
  .nav a.active {
    border: 1px solid #3db28c !important;
    border-radius: 0px;
    margin: 0px;
  }
}

.toolsButtons {
  text-align: center;
}

.AuthorCard {
  height: 80px;
}

#UnderlinedLink {
  text-decoration-line: underline;
}

.avatar-circle {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background-color: #3db28c;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 5px; /* 25% of parent */
  font-size: 16px; /* 50% of parent */
  line-height: 16px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}

.formBottomGap {
  height: 240px;
}

iframe#discourse-embed-frame {
  min-height: 500px;
  height: 100%;
  overflow-y: scroll;
}
      
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
  padding-right: 30px
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  text-align: left;
  padding: 2px 16px
}

.openAthensButton {
  width:440px;
  background:#475da7;
  color:white;
  padding : 10px 22px 10px 22px; 
  border-radius: 2px
}

.openAthensButton:hover {
  text-decoration:none;
  width:440px;
  background:#475da7;
  color:white;
  padding : 10px 22px 10px 22px; 
  border-radius: 2px
}

.discousion-username {
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #848e97;
}

.discousion-date {
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #848e97;
}

.Gray800-15px {
  font-family: museo-sans-rounded;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #3c3c3b;
}

.discousion-comments-separator {
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

#discourse-add-comment {
  width: 100%;
}

.btn-light {
  background-color: #e7e9ed !important;
}

.login-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 600px;
}

.login-body {
  text-align: left;
  padding: 2px 16px
}
